@model IEnumerable<AdminBlog.Models.Author>
@{
    ViewData["Title"] = "Author";
}

<button type="button" onclick="$('#AuthorModal').modal('show')" class="btn btn-primary">Kategori Ekle</button>

<table class="table table-hover">
    <thead>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Email</th>
        <th scope="col">Parola</th>
        <th scope="col"></th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
            <th scope="row">@item.Id</th>
            <td>@item.Name</td>
            <td>@item.Surname</td>
            <td>@item.Email</td>
            <td>@item.Password</td>
            <td><a class="btn btn-danger" asp-route-id="@item.Id" asp-action="DeleteAuthor">Sil</a>
            <button class="btn btn-secondary" onclick="updateForm(@item.Id)" type="button" >Güncelle</button>
            </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal" id="AuthorModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Yazar :</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="/Home/AddAuthor" autocomplete="off">
      <div class="modal-body">
        <div class="form-group">
            <input type="hidden" name="Id" id="Id" class="form-control">
            <input type="text" name="Name" id="Name" class="form-control" placeholder="Ad">
        </div>
        <div class="form-group">
            <input type="text" name="Surname" id="Surname" class="form-control" placeholder="Soyad">
        </div>
        <div class="form-group">
            <input type="text" name="Email" id="Email" class="form-control" placeholder="Email">
        </div>
        <div class="form-group">
            <input type="text" name="Password" id="Password" class="form-control" placeholder="Parola">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="clearForm()" data-dismiss="modal">Kapat</button>
        <button type="submit" id="saveBtn" class="btn btn-primary">Ekle</button>
        <button type="submit" id="updateBtn" class="btn btn-primary">Güncelle</button>
      </div>
      </form>
    </div>
  </div>
</div>
@section Scripts{
  <script>
    $(() => clearForm())
    function updateForm(Id){
      fetch('/Home/AuthorDetails?Id='+Id)
      .then(res => res.json())
      .then(res =>{
          $('#Id').val(res.id)
          $('#Name').val(res.name)
          $('#Surname').val(res.surname)
          $('#Password').val(res.password)
          $('#Email').val(res.email)
      })
      $('#saveBtn').hide();
       $('#updateBtn').show();
      $('#AuthorModal').modal('show');
    }
    function clearForm(){
        $('#Id').val(null)
          $('#Name').val(null)
            $('#Surname').val(null)
          $('#Password').val(null)
          $('#Email').val(null)
       $('#saveBtn').show();
       $('#updateBtn').hide();
    }
  </script>
}